.border{
    border: 1px solid white;
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.3);
}
.border h2{
    color: white;
}

.border label{
    color: white;
}


label.error{
    color: #F00;
    font-weight: bold;
}
input.error,
select.error,
textarea.error {
    border: 1px red solid;
}