<?xml version='1.0' encoding='utf-8'?>
<widget id="com.onelist.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OneList</name>
    <description>Final Project PROG2430</description>
    <author>
        Cleison Hister, Devit Souza Bremer
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon src="www/img/android/ldpi/ic_launcher.png" density="ldpi" />
        <icon src="www/img/android/mdpi/ic_launcher.png" density="mdpi" />
        <icon src="www/img/android/hdpi/ic_launcher.png" density="hdpi" />
        <icon src="www/img/android/xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="www/img/android/xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="www/img/android/xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
</widget>

